* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*Nav */

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #1f1f3d;
}

h1 {
  color: white;
  font-size: 34px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.yellow-txt {
   color: #ffc30c;
}

.search-input {
  height: 42px;
  float: right;
  width: 24em;
  border-radius: 0 3px 3px 0;
  border: none;
  margin: 0;
}

.search-button {
  height: 42px;
  background-color: #c7d3d8;
  padding: 7px;
  border-radius: 3px 0 0 3px;
}

/*Main*/

main {
  display: grid;
  grid-template-areas: 
  'task cards cards'
  'task cards cards';
  grid-template-columns: 25% 75%;
}

/*Aside Input Form*/

.to-do-input {
  background-color: #587a8a;
  height: 100vh;
  grid-area: task;
  display: flex;
  flex-direction: column;
}

label {
  margin: 20px 10px 7px;
  font-weight: 700;
  color: #c7d3d8;
}

input {
  margin: 0px 10px 13px;
  height: 4em;
  border-radius: 3px;
  border: 2px solid #1f1f3d;
}

#task-item {
  
}

button {
  margin: 20px 8px;
  height: 3em;
  font-size: 20px;
  font-weight: 700;
  background-color: #1f1f3d;
  color: white;
  border-color: #1f1f3d;
  border-radius: 3px;
}

.make-task-btn {
   margin-bottom: -2px;
}

.clear-all-btn {
  margin-bottom: 31px;
}

.filter-by-btn {
  margin-top: 31px;
}

.line {
  border: 1px solid #3c6577;
}

/*To-do Cards*/

.to-do-list {
  background-color: #f3f6f7;
  height: 100vh;
  grid-area: cards;
}

.task-card {
	width: 30%;
	background-color: #f3f6f7;
	border: 2px solid #c7d3d8;
	margin: 24px;
}

h2 {
  border-bottom: 2px solid #c7d3d8;
  padding: 10px;
}