* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*Nav */

nav {
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 600;
}

.yellow-txt {
   color: #ffc30c;
}

.search-input {
  border-radius: 0 3px 3px 0;
  border: none;
  float: right;
  height: 42px;
  margin: 0;
  width: 24em;
}

.search-button {
  background-color: #c7d3d8;
  border-radius: 3px 0 0 3px;
  height: 42px;
  padding: 7px;
  margin: 0;
  border: none;
}

.search-form {
  margin-right: 15px;
}

/*Main*/

main {
  display: grid;
  grid-template-areas: 
  'task cards cards'
  'task cards cards';
  grid-template-columns: 25% 75%;
}

/*Aside Input Form*/

.to-do-input {
  background-color: #587a8a;
  display: flex;
  flex-direction: column;
  grid-area: task;
  height: 100vh;
}

label {
  color: #c7d3d8;
  font-weight: 700;
  margin: 20px 10px 7px;
}

input {
  border-radius: 3px;
  border: 2px solid #1f1f3d;
  height: 4em;
  margin: 0px 13px 13px;
  outline: 0;
}

#task-item {
  border-radius: 3px 0px 0px 3px;
  margin: 0px 0px 13px 10px;
  width: 81%;
  border-right: none;
}

.add-button {
  background-color: #1f1f3d;
  border-radius: 0px 3px 3px 0px;
  height: 44px;
  padding: 5px;
  margin: 0;
  margin-left: -5px;
  vertical-align: middle;
}

button {
  background-color: #1f1f3d;
  border-color: #1f1f3d;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 3em;
  margin: 20px 13px;
}

.make-task-btn {
   margin-bottom: -2px;
   outline: 0;
}

.clear-all-btn {
  margin-bottom: 31px;
  outline: 0;
}

.filter-by-btn {
  margin-top: 31px;
  outline: 0;
}

.line {
  border: 1px solid #3c6577;
}

button:disabled,
.add-button:disabled {
  background-color: #4D7393;
  color: #1F1F3D;
}

.printed-lists::before {
  content: '';
  display: inline-block;
  height: 21px;
  width: 20px;
  background-image: url(images/delete.svg);
  margin-right: 5px;
  margin-left: 13px;
  vertical-align: middle;
}

/*To-do Cards*/

.to-do-list {
  background-color: #f3f6f7;
  /*columns: 2 250px;
  column-gap: 20px;*/
  grid-area: cards;
  height: 100vh;
  padding: 15px;
}

.task-card {
  background-color: #f3f6f7;
  border: 2px solid #c7d3d8;
  /*break-inside: avoid;*/
  margin: 24px;
 /* width: 50%;*/
}

h2 {
  border-bottom: 2px solid #c7d3d8;
  padding: 10px;
}

.to-do-check {
  padding: 19px;
  display: flex;
}

.to-do-check > p {
  padding-left: 19px;
  font-size: 1.2em;
}

.to-do-check > img{
  height: 21px;
}

.urgent > input,
.delete > input {
  height: 26px;
  margin: 10px;
  border: 0;
}

.urgent > p,
.delete > p {
  font-size: 12px;
  margin-top: -5px;
}

.urgent,
.delete {
  padding: 5px;
}

.img-buttons {
  border-top: 2px solid #c7d3d8;
  display: flex;
  justify-content: space-between;
}

.first-page-text {
  font-size: 37px;
  text-align: center;
  margin: auto;
  font-weight: 700;
  padding: 20px;
  color: black;
  -webkit-text-fill-color: #ffc30c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* Media Queries */

@media screen and (max-width: 1199px) {

  #task-item {
    width: 77%;
  }
}

@media screen and (max-width: 1011px) {

  #task-item {
    width: 74%;
  }
}

@media screen and (max-width: 865px) {

   #task-item {
    width: 69%;
  }
}

@media screen and (max-width: 812px) {
  
  main {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    padding-bottom: 20px;
  }

  .to-do-input {
    height: 67vh;
  }

  #task-item {
    width: 92%;
  }

  .task-card {
    width: 91%;
    margin: 16px;
  }
}

@media screen and (max-width: 666px) {
 
  #task-item {
    width: 88%;
  }
}

@media screen and (max-width: 443px) {

  #task-item {
    width: 85%;
  }
}

@media screen and (max-width: 439px) {

   #task-item {
    width: 85%;
  }
}

@media screen and (max-width: 368px) {

  .search-input {
    width: 75%;
  }

  #task-item {
    width: 79%;
  }
}